* {
    margin: 0;
    padding: 0;
}

:root {
    --main-cr: #4eb28e;
    --main-cb: #281568d4;
}

body {
    background-image: linear-gradient(var(--main-cr), var(--main-cb));
    height: 100%;
    width: 100%;
}

.logo {
    display: block;
    margin: auto;
    width: 9vw;
    height: 17vh
}

.container {
    background: linear-gradient(var(--main-cb), var(--main-cr));
    max-width: 955px;
    margin: auto;
    border: 5px solid var(--main-cb);
    border-radius: 25px;
    height: 60vh;
    margin-top: 10px;
    padding: 33px;
    overflow-y: auto;
    margin-bottom: 15px;

}

.message {
    background: var(--main-cb);
    color: white;
    padding: 10px;
    margin: 17px 12px;
    width: 24vw;
    border: 2px solid var(--main-cr);
    border-radius: 12px;
}

nav h1 {
    text-align: center;
}

.message:hover {
    background: var(--main-cr);
    border: 2px solid var(--main-cb);
    color: black;
}

.left {
    float: left;
    clear: both;
}

.right {
    float: right;
    clear: both;
}

.send {
    display: inline;
    margin-top: -15px;
}

#send-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: auto;
    text-align: center;
    max-width: 985px;
    width: 100%;
}

#messageInp {
    width: 92%;
    border: 2px solid black;
    border-radius: 12px;
    height: 34px;
    outline: none;
    padding: 0px 12px;
    bottom: 8px;
    position: relative;
    margin-top: -3px;
}

.btn {
    background-color: var(--main-cr);
    border: 2px solid var(--main-cb);
    border-radius: 45px;
    padding: 6px;
    cursor: pointer;
    margin-top: -20px;
}

.btn img {
    max-height: 30px;
    max-width: 30px;
}

.btn:hover {
    background: var(--main-cr);
}