/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Nunito:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
}

.App{
  min-height: 100vh;
  display: flex;
  background-image: url("./Assets/background.jpg");
  background-size: cover;
  background-position: center;
}